@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');

#popper {
    width: 550px;
    height: 376px;
    padding-left: 50px;
    padding-top: 40px;
    padding-right: 62px;
    position: fixed;
    top: 50px;
    left: 120px;
    background-color: white;
    z-index: 10;
}
.popper-inactive {
    display: none;
    font-size: 35px;
}
#popper-arrow{
    display: inline-block;
    margin-right: 10px;
    color: rgba(101, 177, 61, 1);
    width: 200px;
    font-size: 30px;
}
#popper-title {
    font-family: 'Roboto Condensed',Light;
    font-size: 50px;
    color: #707070;
    display: inline-block;
    position: relative;
    right: 100px;
}
#popper-x {
    position: relative; 
    bottom: 30px; 
    float: right;
    cursor: pointer;
    position: relative;
    top: 20px;
}
#popper-text {
    margin-top: 50px;
    font-family: 'Roboto Condensed',Light;
}
#popper-button1 {
    width: 45%;
    font-family: Roboto Condensed, Regular;
    font-weight: bold;
    padding: 16px;
    background-color: white;
    color:#707070;
    border-radius: 10px;
    border: 1px solid #707070;
    margin-right: 5%;
    margin-top: 40px;
}
#popper-button2 {
    width: 45%;
    font-family: Roboto Condensed, Regular;
    font-weight: bold;
    padding: 16px;
    background-color: #707070;
    color: white;
    border-radius: 10px;
    border: 1px solid rgba(101, 177, 61, 1);
    margin-top: 40px;
}
#sidebar {
    height: 780px;
    width: 250px;
    float: left;
}
.sidebar-active {
    background-color: rgba(101, 177, 61, 1);
}
.sidebar-inactive {
    background-color: #3D6A26;
}
#main-window {
    height: 680px;
    width: 600px;
    float: left;
    padding: 50px;
}
.main-window-active {
    background-color: #FFFFFF;
}
.main-window-inactive {
    background-color: #999999;
}
#page-title {
    font-family: 'Roboto Condensed',Light;
    font-size: 50px;
    color: #707070;
}
#column1 {
    width: 250px;
    height: 106px;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    font-family: Roboto Condensed, Regular;
}
#column1-row1 {
    width: 100%;
    height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
    border-bottom: 2px solid grey;
}
#column1-row1:hover{
    background-color: rgba(101, 177, 61, 0.1);
}
#pencil {
    color: green;
    display: inline-block;
    position: relative;
    left: 95px;
}
.column1-row1-active {
    background-color: #EFF7EB;
    bottom: 60px;
}
#column1-row1-text2{
    float: right;
    color: rgba(101, 177, 61, 1);
    position:relative; 
    bottom: 0px; 
}
#column1-row1-input {
    position:relative; 
    bottom: 20px; 
    height:8px; 
    width: 127px; 
    float: right;
    display: inline-block;
    border: 1px solid rgba(101, 177, 61, 1);
    color: #707070;
    position: relative; 
    right: 20px; 
    display: inline;
    padding: 8px;
}
#column1-row1-x {
    color: rgba(101, 177, 61, 1); 
    position: relative; 
    left: 141px; 
    bottom: -3px; 
    display: inline; 
    font-weight: bold; 
    float: right; 
    font-family: Font Awesome 5 Free, Solid;
}
#column1-row2 {
    width: 100%;
    height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;    
    padding-left: 6px;
    border-bottom: 2px solid grey;
}

#column1-row2:hover{
    background-color: rgba(101, 177, 61, 0.1);
}
#column1-row2-text1 {
    display: inline-block;
}
#column1-row2-text2 {
    position: relative; 
    left: 0px; 
    display: inline-block; 
    float: right;
    color: rgba(101, 177, 61, 1);
}
#column1-row3 {
    width: 100%;
    height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
}
#column1-row3:hover{
    background-color: rgba(101, 177, 61, 0.1);
}
#column1-row3-text1 {
    display: inline-block;
}
#column1-row3-text2 {
    display: inline-block; 
    float: right;
    color: rgba(101, 177, 61, 1);
}
#column1-button {
    width: 103%;
    font-family: Roboto Condensed, Regular;
    font-weight: bold;
    padding: 16px;
    background-color: white;
    color: rgba(101, 177, 61, 1);
    border-radius: 10px;
    border: 1px solid rgba(101, 177, 61, 1);
}
#column2 {
    width: 250px;
    height: 106px;
    display: inline-block;
    margin-top: 20px;
    font-family: Roboto Condensed, Regular;
}
#column2-row1 {
    width: 100%;
    height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
    border-bottom: 2px solid grey;
}
#column2-row1:hover{
    background-color: rgba(101, 177, 61, 0.1);
}
#column2-row1-text2 {
    position: relative; 
    bottom: 15px; 
    display: inline-block; 
    float: right;
    color: rgba(101, 177, 61, 1);
}
#column2-row2 {
    width: 100%;
    height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
    border-bottom: 2px solid grey;
}
#column2-row2:hover{
    background-color: rgba(101, 177, 61, 0.1);
}
#column2-row2-text2 {
    position: relative; 
    bottom: 15px; 
    display: inline-block; 
    float: right;
    color: rgba(101, 177, 61, 1);
}
#column2-row3 {
    width: 100%;
    height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
}
#column2-row3:hover{
    background-color: rgba(101, 177, 61, 0.1);
}
#column2-row3-text2 {
    position: relative; 
    bottom: 15px; 
    display: inline-block; 
    float: right;
    color: rgba(101, 177, 61, 1);
}
#column2-button {
    font-family: Roboto Condensed, Regular;
    font-weight: bold;
    width: 103%;
    padding: 16px;
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    border: none;
}
.column1-button-active {
    background-color: white;
}
.column1-button-inactive {
    background-color: #999999;
}
.column2-button-active {
    background-color: rgba(101, 177, 61, 1);
}
.column2-button-inactive {
    background-color: #3D6A26;
}
.fa-pencil-active {
    visibility: visible;
}
.fa-pencil-inactive {
    visibility: hidden;
}
/* ******************Beginning of Media Queries to control mobile responsiveness***************** */
@media screen and (min-width: 1200px) {
    #popper {
        left: 400px;

    }
    #popper-arrow{
        visibility: hidden;
    }
    #column1-row2 {
        position: relative;
        left: 600px;
        bottom: 40px;
    }
    #column1-row3 {
        position: relative;
        left: 310px;
        bottom: 35px;
    }
    #column2-row1 {
        position: relative;
        left: 35px;
        top: 1px;
    }
    #column2-row2 {
        position: relative;
        right: 272px;
        border: none;
    }
    #column2-row3 {
        position: relative;
        bottom: 30px;
        left: 320px;
    }
    #column2-button {
        position: relative;
        left: 330px;
    }
}
@media screen and (max-width: 1200px) {
    #popper-arrow{
        visibility: hidden;
    }
}
@media screen and (max-width: 950px) {
    #sidebar {
        width: 10px;
    }
    #popper-arrow{
        visibility: hidden;
    }
}

@media screen and (max-width: 850px) {
    #main-window {
        width: 850px;
    }
    #sidebar {
        width: 10px;
    }
    #popper-arrow{
        visibility: hidden;
    }
    #main-window {
        position: absolute;
        top: 0px;
        left: 20px;
        padding: 15px;
    }
    #column1-row2 {
        position: relative;
        top: 40px;
    }
    #column1-row3 {
        position: relative;
        top: 80px;
        border-bottom: 1px solid #707070;
    }
    #column1-button {
        position: relative;
        top: 120px;
    }
    #column2-row1 {
        position: relative;
        top: 40px;
        right: 275px;
    }
    #column2-row2 {
        position: relative;
        top: 80px;
        right: 275px;
    }
    #column2-row3 {
        position: relative;
        top: 120px;
        right: 275px;
    }
    #column2-button {
        position: relative;
        top: 180px;
        right: 275px;
    }
}
@media screen and (max-width: 785px) {
    #main-window {
        width: 850px;
    }
    #sidebar {
        width: 10px;
    }
    #popper-arrow{
        visibility: hidden;
    }
    #main-window {
        position: absolute;
        top: 0px;
        left: 20px;
        padding: 15px;
    }
    #column1-row2 {
        position: relative;
        top: 0px;
    }
    #column1-row3 {
        position: relative;
        top: 0px;
        border-bottom: 1px solid #707070;
    }
    #column1-button {
        position: relative;
        top: 20px;
    }
    #column2-row1 {
        position: relative;
        top: 0px;
        right: 0px;
    }
    #column2-row2 {
        position: relative;
        top: 0px;
        right: 0px;
    }
    #column2-row3 {
        position: relative;
        top: 0px;
        right: 0px;
    }
    #column2-button {
        position: relative;
        top: 20px;
        right: 0px;
    }
}
@media screen and (max-width: 425px) {
    #main-window {
        width: 425px;
    }
    #popper-arrow{
        visibility: visible;
    }
    #popper{
        width: 205px;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 800px;
    }
    #popper-x {
        display: none;
    }
    #popper-arrow{
        position: relative;
        top: 50px;
    }
    #popper-title{
        position: relative;
        left: 50px;
    }
    #popper-button1{
        position: relative;
        width: 250px;
        right: 35px;
    }
    #popper-button2{
        position: relative;
        right: 35px;
        bottom: 30px;
        width: 250px;
    }
    #column2-row1{
        position: relative;
        left: 0px;
        top: -135px;
    }
    #column2-row2{
        position: relative;
        left: 0px;
        top: -95px;
    }
    #column2-row3{
        position: relative;
        left: 0px;
        top: -55px;
    }
    #column2-button {
        position: relative;
        left: 0px;
        top: 0px;
    }
}
@media screen and (max-width: 375px) {
    #main-window {
        width: 375px;
    }
    #popper {
        width: 215px;
    }
}

@media screen and (max-width: 320px) {
    #main-window {
        width: 320px;
    }
    #column2-row1 {
        position: relative;
        top: -135px;
        left: 0px;
    }
    #column2-row2 {
        position: relative;
        top: -95px;
        left: 0px;  
    }
    #column2-row3 {
        position: relative;
        top: -50px;
        left: 0px;  
    }
}